django == 4.2
psycopg2-binary == 2.9.6
psycopg2 == 2.8.6
boto3 == 1.26.146
djangorestframework == 3.14.0
neo4j == 5.11.0
django-extensions == 3.2.1
google-cloud-tasks==2.14.1
google-cloud-storage==2.11.0